body {
    overflow-y: hidden;
}

body,
html {
    width: 100%;
    overflow-x: hidden;
}

.navbar {
    height: 80px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    margin-left: 20px;
    margin-right: 20px;
    
}

.navbar-brand {
    transition: all .35s;
}

.navbar-brand:hover {
    transition: all .35s;
    transform: scale(1.20);
}

.shopping-cart {
    transition: all .35s;
}

.shopping-cart:hover {
    transition: all .35s;
    transform: scale(1.20);
}

.sidebar {
    height: 100%;
    width: 150px;
    background-color: crimson;
    position: fixed;
    top: 80px;
    left: 0;
    padding-top: 20px;
    box-sizing: border-box;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.sidebar a {
    display: flex;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 16px;
    transition: all .35s;
    gap: 10px;
}
.sidebar svg {
    display: block;
}
.sidebar a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
}

.sidebar a:hover {
    background-color: white;
    color: black;
}

.main-content {
    margin-top: 80px;
    margin-left: 150px;
}

.carousel-container {
    background-color: crimson;
}

.carousel-container img {
    width: 100%;
    height: 70%;
    object-fit: fill;
}

.sub-navbar {
    background-color: crimson;
    position: relative;
    width: 100%;
    z-index: 1;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.3);
    top: -48px;
}
.sub-navbar p{
    display:inline;
    vertical-align: middle;
    font-size: 24px;
    color: white;
}
.list-sub-navbar {
    background-color: white;
    position: relative;
    width: 100%;
    z-index: 1;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.3);
    display: flex;  
    gap: 50px;
    padding: 5px 15px;
    align-items: baseline;
}
.list-sub-navbar p{
    font-size: 24px;
    color: black;
    margin-bottom: 0;
    width: 150px;
}

.contenido .producto {
    display: flex;  
    gap: 50px;
    padding: 15px;
    align-items: center;
    border-bottom: solid 1px #b6b6b6;
}
.contenido h3 {
    width: 150px;
    margin: 0;
}
.contenido p {
    width: 150px;
    font-weight: bold;
    margin: 0;
}

.cart-container{
    display: flex;  
    gap: 50px;
    padding: 15px;
    align-items: center;
    border-bottom: solid 1px #b6b6b6;
}

.add-cart{
    width: 0;
    height: 100%;
    align-items: center;
}

.add-cart button {
    width: 500px;
    height: auto;
    background-color: transparent;
    border-color: #ff003b;
    margin: 0;
}

.add-cart button:hover {
    background-color: white;
    border-color: crimson;
}

.delete-btn {
    display: flex;
    width: 0;
    height: 100%;
    align-items: center;
}

.delete-btn button{
    width: 500px;
    height: auto;
}

.cart-list {
    margin-top: -48px;
}



.cart-list ol, ul {
   padding-left: 0;
}
.non-product {
    margin-top: -48px;
}

@media (max-width: 768px) {


    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
        z-index: 2;
        top: 50px;
    }
    .main-content {
        margin-top: 50px;
        margin-left: 0;
        padding: 0;
    }

    .sub-navbar a{
        margin-top: 20px;
    }
    .content {
        margin-left: 0;
        padding: 2rem;
    }

    .carousel-container img {
        object-fit:fill;
        width: 100%;
    }
    .carousel-inner img {
        height: auto;
    }

    .navbar {
        flex-direction: column;
    }
    
}

@media (max-width: 690px) {
    
    .navbar {
        height: auto;
    }

    .navbar-brand {
        display: inline;
    }

    .sidebar {
        top: 100px;
    }

    .main-content {
        margin-top: 100px;
    }

    .navbar-icons {
        margin-top: 15px;
    }

    .carousel-inner img {
        height: auto;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }
    .sidebar a {
        margin-top: 50px;
    }
}

form {
    background-color: crimson;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
    }
    input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    }
    ::placeholder {
    color: #fff;
    opacity: 0.7; 
    }
form button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
    margin-right: 10px;
}